<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="자신의 에세이 글에 대한 3가지 요소를 평가해준다." />
        <meta name="author" content="유대곤" />
        <title>나의 글 평가하기</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        
        <!--
        <script>
            window.onload=function() {
             document.getElementById("preview").onclick=processText;
            }
            
            function processText() {
             var txtBox = document.getElementById("inputbox");
             var lines = txtBox.value.split("\n");
            
             // generate HTML version of text
             var resultString  = "<p>";
             for (var i = 0; i < lines.length; i++) {
               resultString += lines[i] + "<br />";
             }
             resultString += "</p>";
            
             // print out to page
             var   blk   = document.getElementById("result");
             blk.innerHTML  =  resultString; 
            }       
            </script>
        -->
    </head>


    <body style = "text-align:center; padding-top:50px">
        <h3>여기서 아래 3개의 항목에 대한 자신의 에세이 점수를 측정해보아요.</h3>
        <div style="padding-top:10px">
            <h5> 1) 논리성</h5>
            <h5> 2) 참신성</h5>
            <h5> 3) 설득력</h5>
        </div>
    
        <form action="/result" method="POST">
            <textarea id="inputbox" type="text" name="essay" cols="100" rows="8" maxlength="512" minlength="1" placeholder = "Input your essay!"></textarea>
            <div style="padding-top:10px">
                <div>
                    <button type="submit" id="btt">에세이 점수 확인하기</button>
                </div>
            </div>
        </form> 

        {{ essay }}

        <!-- <div id="result"></div> -->     <!-- result란 id에 값 저장됨-->
        


        <div style="display: flex; align-items: center; justify-content: center; padding-top:40px">
            <div><h5> 1) 논리성 : {{logical_point}} </h5></div>
            <div><h5> 2) 참신성 </h5></div>
            <div><h5> 3) 설득력 </h5></div>
        </div>

        <div style="display: flex; align-items: center; justify-content: center; padding-top:40px">
            <h5> 총점 </h5>
        </div>
    </body>
</html>
